<mat-form-field class="container">
  <mat-label>{{ placeholder }}</mat-label>
  <mat-select>
    <mat-option value="Any">Any</mat-option>
    <div class="divider-top"></div>
    <div class="divider-bottom"></div>
    <mat-option value="Audi">Audi</mat-option>
    <mat-option value="BMW">BMW</mat-option>
    <mat-option value="Jaguar">Jaguar</mat-option>
    <mat-option value="Lexus">Lexus</mat-option>
    <mat-option value="Mercedes-Benz">Mercedes-Benz</mat-option>
    <mat-option value="Volvo">Volvo</mat-option>
  </mat-select>
</mat-form-field>
