form {
  max-width: 650px;
  margin: 12px 12px 0px;
  padding-bottom: 64px; /* heigh of the footer */
  button {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}

/* adjust styles for screens below 600px width */
@media (max-width: 599px) {
  form {
    padding-bottom: 56px; /* reduce the padding to 56px */
  }
}

@media (min-width: 650px) {
  form {
    margin: 20px calc((100vw - 650px) / 2 + 12px) 0; /* start at 12px and increase */
  }
}

// CSS FOR REGISTER SUCCESS PAGE
.success-notification {
  background-color: #e6ffe6;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 650px;
}

.success-icon {
  font-size: 72px;
  height: 72px;
  width: 72px;
  color: #66cc66;
}

// .close-icon {
//   font-size: 24px;
//   cursor: pointer;
//   align-self: flex-start;
//   margin-left: auto;
// }

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5px 20px 5px 20px;
}

.success-notification h1 {
  color: #339933;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

@media (min-width: 650px) {
  .success-notification {
    margin: 20px auto;
  }
}
