<form
  *ngIf="!this.registerSuccess"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
>
  <app-input-text-field
    [form]="registerForm"
    label="First name"
    controlName="firstName"
    [minLength]="nameMinLength"
  ></app-input-text-field>
  <app-input-text-field
    [form]="registerForm"
    label="Last name"
    controlName="lastName"
    [minLength]="nameMinLength"
  ></app-input-text-field>
  <app-input-text-field
    [form]="registerForm"
    label="Email"
    controlName="email"
  ></app-input-text-field>
  <app-input-text-field
    [form]="registerForm"
    label="Confirm email"
    controlName="confirmEmail"
  ></app-input-text-field>
  <app-input-text-field
    class="password"
    [form]="registerForm"
    label="Password"
    controlName="password"
    type="password"
  ></app-input-text-field>
  <app-input-text-field
    [form]="registerForm"
    label="Confirm password"
    controlName="confirmPassword"
    type="password"
  ></app-input-text-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="registerForm.invalid"
  >
    Register
  </button>
</form>
<div *ngIf="this.registerSuccess" class="success-notification mat-elevation-z2">
  <div class="text-container">
    <!-- <mat-icon class="close-icon" (click)="this.registerSuccess = false"
      >close</mat-icon
    > -->
    <h1>{{ this.notificationMessage }}</h1>
    <mat-icon class="success-icon">check_circle_outline</mat-icon>
  </div>
</div>
