<body>
  <div class="wrapper">
    <mat-sidenav-container>
      <mat-sidenav #sidenav position="end">
        <div class="sidenav-close">
          <button
            class="close-button"
            mat-icon-button
            (click)="sidenav.toggle()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <mat-nav-list>
          <!-- <mat-list-item
            class="sidenav-list-parent"
            (click)="showSearchSubmenu = !showSearchSubmenu"
          >
            <div class="sidenav-list-item-content">
              <span class="sidenav-list-item-title">Search</span>
              <span class="spacer"></span>
              <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
            </div>
          </mat-list-item>
          <div class="sidenav-list-divider">
            <mat-divider></mat-divider>
          </div>
          <mat-list-item
            class="sidenav-list-parent"
            (click)="showSellSubmenu = !showSellSubmenu"
          >
            <div class="sidenav-list-item-content">
              <span class="sidenav-list-item-title">Sell</span>
              <span class="spacer"></span>
              <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
            </div>
          </mat-list-item>
          <div class="sidenav-list-divider">
            <mat-divider></mat-divider>
          </div> -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Search </mat-panel-title>
              <!-- <mat-panel-description>
                This is a summary of the content
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <!-- Content of the dropdown -->
            <mat-list>
              <mat-list-item>Car</mat-list-item>
              <div class="sidenav-list-divider">
                <mat-divider></mat-divider>
              </div>
              <mat-list-item>Motorcycle</mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Sell </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item>Car</mat-list-item>
              <div class="sidenav-list-divider">
                <mat-divider></mat-divider>
              </div>
              <mat-list-item>Motorcycle</mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          <div class="auth-button">
            <button mat-raised-button color="primary" (click)="goToLogin()">
              Login
            </button>
          </div>
          <!-- <div class="auth-button">or</div>
          <div class="auth-button">
            <button mat-raised-button color="accent" (click)="goToRegister()">
              Register
            </button>
          </div> -->
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <app-header (menuButtonClick)="sidenav.toggle()"></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</body>
