// html, body {
//   height: 100%;
//   margin: 0;
// }

.wrapper {
  position: relative;
  min-height: 100vh; /* use viewport height instead of percentage */
}

mat-sidenav {
  width: 75vw;
  .sidenav-close {
    height: 56px;
    display: flex;
    box-sizing: border-box;
    padding: 0 0 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    justify-content: flex-end;
  }
  .sidenav-list-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .sidenav-list-item-title {
      // bold the title
      font-weight: bold;
    }
  }
  .sidenav-list-divider {
    padding: 0 8px;
  }

  .spacer {
    flex-grow: 1;
    width: 1rem;
  }
}

mat-sidenav-content {
  padding-bottom: 64px; /* height of the footer */
}

app-footer {
  position: absolute;
  bottom: 0;
  // left: 0;
  width: 100%;
  height: 64px; /* adjust this height to match the height of the footer */
}

/* adjust styles for screens below 600px width */
@media (max-width: 599px) {
  mat-sidenav-content {
    padding-bottom: 56px; /* reduce the padding to 56px */
  }
  app-footer {
    height: 56px; /* adjust the height to match the footer height */
  }
}
