// CSS FOR CONFIRMATION SUCCESS
.success-notification {
  background-color: #e6ffe6;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 650px;
}
.error-notification {
  background-color: #ffd078;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 650px;
}

.success-icon {
  font-size: 72px;
  height: 72px;
  width: 72px;
  color: #66cc66;
}
.error-icon {
  font-size: 72px;
  height: 72px;
  width: 72px;
  color: #e76868;
}

// .close-icon {
//   font-size: 24px;
//   cursor: pointer;
//   align-self: flex-start;
//   margin-left: auto;
// }

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5px 20px 5px 20px;
}

.success-notification h1 {
  color: #339933;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

@media (min-width: 650px) {
  .success-notification, .error-notification {
    margin: 20px auto 40px;
  }
}

.action-container {
  text-align: center;
  margin: 30px auto 20px;
}
