<form action="">
  <app-product-selection-menubar></app-product-selection-menubar>
  <div class="filter-container">
    <app-dropdown-search [placeholder]="'Make'"></app-dropdown-search>
    <app-dropdown-search [placeholder]="'Model'"></app-dropdown-search>
    <app-dropdown-search [placeholder]="'Year from'"></app-dropdown-search>
    <app-dropdown-search [placeholder]="'Year to'"></app-dropdown-search>
    <app-dropdown-search [placeholder]="'Mileage from'"></app-dropdown-search>
    <app-dropdown-search [placeholder]="'Mileage to'"></app-dropdown-search>
    <app-dropdown-search [placeholder]="'Price from'"></app-dropdown-search>
    <app-dropdown-search [placeholder]="'Price to'"></app-dropdown-search>
  </div>
</form>
