form {
  max-width: 650px;
  // height: calc(100vh - 64px - 64px - 12px); // If the content is not heigh enough, we need to set this and also a media queary needed
  margin: 12px 12px 0px;
  // padding-bottom: 64px; /* heigh of the footer */
  .filter-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
  }

  .filter-container > app-dropdown-search {
    flex: 1 1;
    padding: 0 6px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 6px;
    padding-bottom: 20px;
  }
}

@media (min-width: 472px) {
  form {
    height: calc(100vh - 56px - 56px - 12px);
    // padding-bottom: 56px; /* reduce the padding to 56px */
  }
}

@media (min-width: 600px) {
  form {
    height: calc(100vh - 64px - 64px - 12px);
    // padding-bottom: 56px; /* reduce the padding to 56px */
  }
}

// /* adjust styles for screens below 600px width */
// @media (max-width: 599px) {
//   form {
//     height: calc(100vh - 56px - 56px - 12px);
//     // padding-bottom: 56px; /* reduce the padding to 56px */
//   }
// }

@media (min-width: 650px) {
  form {
    height: calc(100vh - 64px - 64px - 20px);
    margin: 20px calc((100vw - 650px) / 2 + 12px) 0; /* start at 12px and increase */
  }
}
