<mat-form-field [formGroup]="form" [style]="handleErrorStyle()">
  <mat-label>{{ label }}</mat-label>
  <input matInput [formControlName]="controlName" [type]="type" />
  <mat-error *ngIf="control.hasError('required')">
    {{ label }} is required.
  </mat-error>
  <mat-error *ngIf="control.hasError('pattern')">
    First letter(s) has/have to be capitalized.
  </mat-error>
  <mat-error *ngIf="control.hasError('regex1')">
    Password must contain at least one lowercase character.
  </mat-error>
  <mat-error *ngIf="control.hasError('regex2')">
    Password must contain at least one uppercase character.
  </mat-error>
  <mat-error *ngIf="control.hasError('regex3')">
    Password must contain at least one digit.
  </mat-error>
  <mat-error *ngIf="control.hasError('regex4')">
    Password must contain at least one special character.
  </mat-error>
  <mat-error *ngIf="control.hasError('regex5')">
    Password must be at least 8 characters long.
  </mat-error>
  <mat-error *ngIf="form.hasError('confirmPassword')">
    Passwords do not match.
  </mat-error>
  <mat-error *ngIf="control.hasError('email')">
    Invalid email format.
  </mat-error>
  <mat-error *ngIf="form.hasError('confirmEmail')">
    Emails do not match.
  </mat-error>
  <mat-error *ngIf="control.hasError('minlength')">
    {{ label }} must be at least {{ minLength }} characters long.
  </mat-error>
  <mat-error *ngIf="control.hasError('maxlength')">
    {{ label }} cannot be more than {{ maxLength }} characters long.
  </mat-error>
</mat-form-field>
