<div class="container">
  <div
    class="left-menu"
    (click)="selectMenu('left')"
    [class.selected]="selectedMenu === 'left'"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Cars"
      fontIcon="directions_car"
    ></mat-icon>
  </div>
  <div
    class="middle-menu-left"
    (click)="selectMenu('middle-left')"
    [class.selected]="selectedMenu === 'middle-left'"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Motorcycles"
      fontIcon="two_wheeler"
    ></mat-icon>
  </div>
  <!-- <div class="middle-menu-center"></div>
  <div class="middle-menu-center"></div>
  <div class="middle-menu-center"></div> -->
  <div
    class="middle-menu-right"
    (click)="selectMenu('middle-right')"
    [class.selected]="selectedMenu === 'middle-right'"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Trucks"
      fontIcon="local_shipping"
    ></mat-icon>
  </div>
  <div
    class="right-menu"
    (click)="selectMenu('right')"
    [class.selected]="selectedMenu === 'right'"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Buses"
      fontIcon="directions_bus"
    ></mat-icon>
  </div>
</div>
