<div class="container">
  <div
    class="left-menu"
    (click)="selectSearch('Cars')"
    [class.selected]="selectedSearch === 'Cars'"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Cars"
      fontIcon="directions_car"
    ></mat-icon>
  </div>
  <div
    class="middle-menu-left"
    (click)="selectSearch('Motorcycles')"
    [class.selected]="selectedSearch === 'Motorcycles'"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Motorcycles"
      fontIcon="two_wheeler"
    ></mat-icon>
  </div>
  <!-- <div class="middle-menu-center"></div>
  <div class="middle-menu-center"></div>
  <div class="middle-menu-center"></div> -->
  <div
    class="middle-menu-right"
    (click)="selectSearch('Trucks')"
    [class.selected]="selectedSearch === 'Trucks'"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Trucks"
      fontIcon="local_shipping"
    ></mat-icon>
  </div>
  <div
    class="right-menu"
    (click)="selectSearch('Buses')"
    [class.selected]="selectedSearch === 'Buses'"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Buses"
      fontIcon="directions_bus"
    ></mat-icon>
  </div>
</div>
