<!-- <header>
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</header> -->

<!-- <mat-toolbar class="mat-primary">
  <button mat-icon-button aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="spacer"></span>
  <button mat-icon-button>Sign In</button>
</mat-toolbar> -->

<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Sample App</span>
  <span class="spacer"></span>
  <!-- <button mat-button routerLink="/auth/register">Register</button> -->
  <button
    mat-button
    *ngIf="router.url === '/auth/login'"
    routerLink="/auth/register"
  >
    Register
  </button>
  <button
    mat-button
    *ngIf="router.url === '/auth/register'"
    routerLink="/auth/login"
  >
    Login
  </button>
</mat-toolbar>
