<mat-toolbar color="primary">
  <button
    *ngIf="
      router.url === '/auth/register' ||
      router.url === '/auth/login' ||
      isConfirmationPage
    "
    mat-icon-button
    aria-label="Menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo">My Sample App</span>
  <span class="spacer"></span>
  <button
    mat-button
    *ngIf="router.url === '/auth/register' || isConfirmationPage"
    routerLink="/auth/login"
  >
    Login
  </button>
  <button
    mat-button
    *ngIf="router.url === '/auth/login'"
    routerLink="/auth/register"
  >
    Register
  </button>
  <button
    *ngIf="
      router.url != '/auth/register' &&
      router.url != '/auth/login' &&
      !isConfirmationPage
    "
    mat-icon-button
    aria-label="Menu"
    (click)="onMenuButtonClick()"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
